# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.venv/

# MLflow
mlruns/

# Models
models/*.pkl
models/*.joblib

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
